* {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(-90deg, rgba(240, 160, 144, 0.5), rgba(240, 160, 144, 0.5));
	position: relative;
	background-size: 125%;
}

#titleBox {
	margin: auto;
}

#title {
	color: white;
	text-align: center;
	font-family: arial;
	
	letter-spacing: 2px;
	text-transform: lowercase;
	margin: auto;
	
	padding: 5px 10px;
	margin-top: 10px;
	background: linear-gradient(-90deg, #F2A900, #2D68C4);
	background-size: 110%;
	
}

.box {
	border: 3px solid #fff;
	padding-top: 7px;
	padding-bottom: 20px;
	margin-top: 20px;
	background-color: #bbd;
}

h3 {
	text-align: center;
}

.desc {
	font-size: medium;
	text-align: left;
	color: darkblue;
	font-weight: 400;
}

em {
	color: #223;
}

p {
	text-align: center;
}
table a{font-weight:bold;text-decoration: underline;color:#3e3e3e!important;text-align:center}
table a:hover{text-decoration: none;}
table th{background:#034ea2;color:#f4cb01!important;font-weight:bold;}
.form-horizontal .control-label{padding-right:0px!important}
.btnRow{text-align:center;padding-top:20px;}
.btnRow a{font-weight:bold;}.desc {
}

#directions {
	font-style: normal;
	background: repeating-linear-gradient(#fff);
	font-size: small;
}